/* cartStyles.css */

/* Dodatkowy styl dla elementów koszyka */
.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
}

.cart-item-details {
    flex: 1;
}
