/* css/productStyles.css */

#product-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-container img {
    width: 400px; /* Ustaw szerokość na pożądaną wartość */
    height: 400px; /* Ustaw wysokość na pożądaną wartość */
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 20px;
}

.product-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.product-details p {
    margin-bottom: 10px;
}

/* Dodajemy style dla przycisku dodawania do koszyka */
.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

.product-reviews {
    margin-top: 20px;
    margin-left: 35%; /* Dodaj margines lewy */
    margin-right: 20%; /* Dodaj margines prawy */
    margin-bottom: 20px;
}

#reviews-list {
    list-style-type: none;
    padding: 0;
}

#reviews-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#reviews-list li:last-child {
    border-bottom: none;
}

#add-review-form {
    margin-top: 20px;
}

#add-review-form label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Kolor etykiety formularza */
}

#add-review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Dodaj obramowanie dla textarea */
    border-radius: 5px;
    resize: none;
}

#add-review-form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#add-review-form button:hover {
    background-color: #2980b9;
}
