/* Zapisz ten kod w pliku profil.css */


.profile-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
}

#profileDetails {
  margin-bottom: 20px;
}

#profileDetails p {
  margin: 5px 0;
  font-size: 16px;
}

.products-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.products-container h2 {
  color: #333;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons a {
  color: #fff;
  margin: 0 5px;
}





/* Style dla zakładek */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style dla przycisków zakładek */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Zmiana tła przycisku po najechaniu */
.tab button:hover {
  background-color: #ddd;
}

/* Aktywna zakładka */
.tab button.active {
  background-color: #ccc;
}

/* Styl dla zawartości zakładki */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.ListedItems {
  display: flex;
  flex-wrap: wrap; /* Zapewnia przenoszenie elementów do nowej linii, gdy brakuje miejsca */
  justify-content: space-around; /* Opcjonalnie, dla równomiernego rozłożenia elementów */
  gap: 10px; /* Opcjonalnie, dla dodania odstępów między produktami */
}

/* Dodaj inne style według potrzeb */
