/* Zapisz ten kod w pliku profil.css */

.profile-table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profile-table {
  border-collapse: collapse;
  width: 60%; /* Dostosuj szerokość do swoich potrzeb */
  background-color: #f2f2f2; /* Kolor tła tabeli */
  border: 1px solid #ddd; /* Krawędź tabeli */
}

.profile-table th, .profile-table td {
  text-align: left;
  padding: 8px;
}

.profile-table th {
  background-color: #585e58; /* Kolor tła nagłówka */
  color: white; /* Kolor tekstu nagłówka */
}

/* Style dla wierszy tabeli */
.profile-table tr:nth-child(even) {background-color: #f2f2f2;}
.profile-table tr:nth-child(odd) {background-color: #fff;}


.products-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.products-container h2 {
  color: #333;
}

.products {
  display: flex;
  flex-wrap: wrap;
}






/* Style dla zakładek */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style dla przycisków zakładek */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Zmiana tła przycisku po najechaniu */
.tab button:hover {
  background-color: #ddd;
}

/* Aktywna zakładka */
.tab button.active {
  background-color: #ccc;
}

/* Styl dla zawartości zakładki */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* Dodaj inne style według potrzeb */

