/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  position: relative;
  height: 400px;
}

.header-image {
  background-image: url('../img/header.jpg');
  background-position: center;
  width: 100%;
  height: 100%;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  margin-right: 5px;
  border-radius: 20px;
  border: none;
  width: 300px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.cart,
.login-register,
.nav-button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart:hover,
.login-register:hover,
.nav-button:hover {
  background-color: #555;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.center-text h1 {
  font-family: Apple Chancery, cursive;
  font-size: 5em;
  font-weight: bold;
  margin: 0;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Usunięcie domyślnego marginesu */
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar .categories {
  margin-bottom: 10px;
}

.sidebar .sub-menu {
  list-style: none;
  padding-left: 20px;
  display: block;
}

.sidebar .expanded .sub-menu {
  display: block;
}

.form-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.form-background {
  background-color: #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
}

.left-background {
  margin-right: 10px;
}

.right-background {
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #888;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #555;
}



/* Stylizacja formularza dodawania ogłoszenia */
.add-ad-form {
  background-color: #f0f0f0; /* Kolor tła formularza */
  padding: 20px;
  border-radius: 10px; /* Zaokrąglone rogi */
  margin: 20px; /* Margines wokół formularza */
  max-width: 600px; /* Maksymalna szerokość formularza */
  margin-left: auto; /* Wycentrowanie formularza */
  margin-right: auto; /* Wycentrowanie formularza */
}

.add-ad-form h2 {
  text-align: center;
  color: #333; /* Kolor tekstu */
}

.add-ad-form label {
  display: block;
  margin: 10px 0; /* Odstęp między etykietami */
}

/* Pola wyboru kategorii, koloru, rozmiaru, materiału i ceny */
.add-ad-form select {
  width: calc(100% - 20px); /* Szerokość 100%, ale uwzględniając odstępy */
  padding: 8px; /* Wewnętrzny odstęp */
  margin: 6px 0; /* Zewnętrzny odstęp */
  box-sizing: border-box; /* Wlicza padding i border do całkowitej szerokości/każdego pola */
}

.add-ad-form input[type="text"],
.add-ad-form input[type="number"] {
  width: calc(100% - 20px); /* Szerokość 100%, ale uwzględniając odstępy */
  padding: 8px; /* Wewnętrzny odstęp */
  margin: 6px 0; /* Zewnętrzny odstęp */
  box-sizing: border-box; /* Wlicza padding i border do całkowitej szerokości/każdego pola */
}

.add-ad-form button {
  background-color: #333; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu przycisku */
  padding: 10px 20px; /* Wewnętrzny odstęp */
  border: none; /* Brak obramowania */
  border-radius: 5px; /* Zaokrąglone rogi */
  cursor: pointer; /* Kursor wskazujący na możliwość interakcji */
  transition: background-color 0.3s ease; /* Płynne przejście koloru tła */
}

.add-ad-form button:hover {
  background-color: #555; /* Kolor tła przycisku po najechaniu myszką */
}

textarea {
  width: calc(100% - 20px);
  box-sizing: border-box;
}


.container {
  display: flex;
}

/* Stylizacja wyświetlanych produktów na stronie głównej */

.products-container {
  flex: 1;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin: 10px 0;
}


/* Stylizacja na stronie produktu*/

.product-details {
  display: flex;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-info {
  flex: 2;
}

.quantity-size {
  margin-bottom: 20px;
}

.quantity-size label,
.quantity-size select {
  margin-right: 10px;
}

.characteristics,
.description {
  margin-bottom: 20px;
}

.characteristics h3,
.description h3 {
  margin-bottom: 10px;
}

.characteristics ul {
  list-style: none;
  padding: 0;
}

.characteristics li {
  margin-bottom: 5px;
}
